@use '@style' as *

.note
  &:hover
    .note__children
      text-decoration: underline
      text-decoration-style: dotted

  &__link
    @extend a
    margin-left: -4px
    text-decoration: none !important
