.note {
  &:hover {
    .note__children {
      background-color: var(--container-bg-sceondary-lightest);
      border-radius: var(--border-radius-sm);
    }
    .icon {
      background-color: var(--container-bg-sceondary-lighter);
    }
  }
}

.note__link {
  position: relative;
  left: -0.75em;
  margin-right: -1em;
  text-decoration: none;
  cursor: pointer;

  .note__link__link {
    line-height: 0;
  }

  .icon {
    border-radius: var(--border-radius-sm);
  }

  &:hover {
    .icon {
      background-color: var(--container-bg-secondary-light);
    }
  }
  &:active {
    .icon {
      background-color: var(--container-bg-secondary);
    }
  }
}
